<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="classes" thread-count="1" configfailurepolicy="continue">

  <test name="Functional Test">
    <classes>
      <class name="com.plivo.test.GetNumbers"/>
	  <class name="com.plivo.test.SendMessage"/>
	  <class name="com.plivo.test.GetMessageDetails"/>
	  <class name="com.plivo.test.GetPrice"/>
	  <class name="com.plivo.test.VerifyPricingAndRate"/>
	  <class name="com.plivo.test.GetAccountDetails"/>
	  <class name="com.plivo.test.VerifyCashCreditAndAmount"/>
    </classes>
  </test>

</suite>
